@import '_base';

// =============================================================================
// Common
// =============================================================================
html,
body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
}

@navDuration: 0.3s;

// =============================================================================
// Layout
// =============================================================================
#l-wrapper {
	height: 100%;
}
#l-header {
	width: 100%;
	height: 50px;
	background-color: #999;
}
.header-inner {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #999;
}
.header-title {
	position: relative;
	top: 50%;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 15px;
	transform: translateY(-50%);
	text-align: center;
}
.button-nav {
	position: absolute;
	top: 50%;
	right: 20px;
	width: 25px;
	height: 25px;
	padding: 0;
	color: transparent;
	background: none;
	border: 0 none;
	font-size: 0;
	line-height: 0;
	transform: translateY(-50%);
	vertical-align: top;
	cursor: pointer;
	span {
		position: absolute;
		top: 50%;
		left: 0;
		width: 25px;
		height: 2px;
		background-color: #fff;
		transform: translateY(-50%);
		transition: @navDuration ease-out;
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			width: 25px;
			height: 2px;
			background-color: #fff;
			transition: @navDuration ease-out;
		}
		&:before {
			top: -9px;
		}
		&:after {
			top: 9px;
		}
	}
	&:hover {
		span {
			background-color: #000;
			box-shadow: 0px 0px 15px 0px rgba(51, 50, 50, 0.5);
			&:before,
			&:after {
				background-color: #000;
				box-shadow: 0px 0px 15px 0px rgba(51, 50, 50, 0.5);
			}
		}
	}
	&.is-active {
		span {
			background-color: #000;
			transform: rotate(-45deg);
			transition: background @navDuration linear, transform @navDuration @navDuration ease-out;
			&:before,
			&:after {
				top: 0;
				background-color: #000;
			}
			&:before {
				transform: rotate(90deg);
				transition: top @navDuration linear, background @navDuration linear, transform @navDuration @navDuration ease-out;
			}
			&:after {
				opacity: 0;
				transform: rotate(90deg);
				transition: top @navDuration linear, background @navDuration linear, opacity @navDuration ease-out, transform @navDuration @navDuration ease-out;
			}
		}
	}
}
#nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 150px;
	transition: @navDuration ease-out;
	transform: translateY(-200px);
	background-color: #999;
	opacity: 0;
	&.is-active {
		position: relative;
		transform: translateY(33px);
		opacity: 1;
	}
}
#l-main {
	width: 100%;
	height: 100%;
	min-height: 100%;
}
#l-contents {
	height: 100%;
	background-color: #e9e9e9;
}
