@import '_base';

// =============================================================================
// Common
// =============================================================================

html,
body {
	width: 100%;
	height: 100%;
}

// =============================================================================
// Layout
// =============================================================================

#l-wrapper {
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin-top: -50px;
}

#l-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #999;
}

#l-contents {
	height: 100%;
	padding-top: 50px;
	background-color: #e9e9e9;
}
