@charset "UTF-8";

@import '_base';
@import '_common';

// =============================================================================
// Contents
// =============================================================================
.section {
	height: 100%;
}
.section--theme1 {
	background-color: #fff;
}
.section--theme2 {
	background-color: #f8f8f8;
}
.section--theme3 {
	background-color: #f4f4f4;
}
.section--theme4 {
	background-color: #f0f0f0;
}
.section--theme5 {
	background-color: #e0e0e0;
}
.section--theme6 {
	background-color: #d0d0d0;
}
