@charset "UTF-8";

@import '_base';
@import '_common';

// =============================================================================
// Contents
// =============================================================================
.section {
	height: 100%;
}
.section--themes01 {
	background-color: #fff;
}
.section--themes02 {
	background-color: #f8f8f8;
}
.section--themes03 {
	background-color: #f4f4f4;
}
.section--themes04 {
	background-color: #f0f0f0;
}
.section--themes05 {
	background-color: #e0e0e0;
}.section--themes06 {
	background-color: #d0d0d0;
}
